html {
    font-family: sans-serif;
    background-color: rgb(47,47,47);
}

/* TODO: ggf. mit media querys anpasse*/
#middle {
    max-width: 1200px; 
    margin: 0 auto;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.thing {
    color: rgb(198,213,210);
    display: inline-block;
    width: 7rem;
}

.thing-detail {
    width: 6rem;
    height: 6rem;
    border: 1px solid rgb(198,213,210);
    padding: 0.25rem;
    margin: 0.25rem auto;
    position: relative;
}

.timed-out .thing-name span[name="name"]::after {
    color: red;
    font-weight: bolder;
    content: " !";
}

.timeout-unknown .thing-name span[name="name"]::after {
    color: orange;
    content: " ?";
}

.thing-value {
    text-align: center;
    font-size: 18pt;
    position: relative;
    margin: auto;
    top: 40%;
    transform: translateY(-50%);
}

.thing-value span {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.thing-name {
    text-align: center;
    font-size: 10pt;
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.thing-shelly input[type="checkbox"], .thing-switch input[type="checkbox"] {
    display: none;
}

#top {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(198,213,210);
    margin-bottom: 10px;
}

#menu {
    max-width: 1200px; 
    margin: 0 auto;
}

ul#bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
#bar li {
    float: left;
    
}

#bar li.active {
    background-color: rgb(66, 187, 243);
}

#bar li:last-child {
    border-right: none;
  }
  
#bar li a {
    display: block;
    color: rgb(198,213,210);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#bar li a:hover {
    background-color: rgb(66, 187, 243);
}

.toggle {
    float: left;
    display: none;
}

@media screen and (max-width: 600px) { 
    ul#bar li.menu-item {
        float: none;
        display: none;
        border-right: none;
    }
    .toggle {
        display: block;
    }
  }

/* Change the link color to #111 (black) on hover */
#bar li a:hover {
    background-color: rgb(66, 187, 243);
}

li#status {
    display: block;
    color: rgb(198,213,210);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

.pending {
    border-color: rgb(66, 187, 243);
}

.on {
    background-color: rgb(66, 187, 243);
    color: black;
}

.off {
}

.feather {
  width: 12pt;
  height: 12pt;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: rgb(198,213,210);
}

.feather-big {
  width: 18pt;
  height: 18pt;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
